:root{
    --blue: #0082cd;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mv-blue {
  background-color: var(--blue) !important;
}

.mv-blue-text {
  color: var(--blue) !important;
}

.no-margin-bottom{
  margin-bottom: 0px !important;
}

.mouse-select{
  cursor: pointer;
}

.mouse-default{
  cursor: default !important;
}

@media screen and (max-width: 600px) {
  #card-login .card-content{
    padding: 12px !important;
  }

  .brand-logo > img{
    height: 40px !important;
    margin-top: 8px !important;
  }
}

#card-login .card-content .section{
  padding-bottom: 0px !important;
}

.brand-logo > img{
  height: 50px;
  margin-top: 7px;
}