:root{
    --blue: #0082cd;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mv-blue {
  background-color: var(--blue) !important;
}

.mv-blue-text {
  color: var(--blue) !important;
}

.no-margin-bottom{
  margin-bottom: 0px !important;
}

.mouse-select{
  cursor: pointer;
}

.mouse-default{
  cursor: default !important;
}